{% extends app.request.XmlHttpRequest  ? '@ScyLabsNeptune/admin/ajax.html.twig' : '@ScyLabsNeptune/admin/layout.html.twig'%}


{% block css %}
    <link href="{{ asset('bundles/scylabsneptune/admin/css/lib/select2/select2.min.css') }}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/select2/select2-init.js') }}"></script>
{% endblock js %}

{% block content %}
        <div class="{{ app.request.XmlHttpRequest ? '' : 'col-lg-4' }}">
            {% include '@ScyLabsNeptune/admin/form.html.twig' %}
        </div>
{% endblock content %}