{% block css %}
{% endblock css %}
<div class="div-ajax">
    <h3>{{ title }}</h3>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>
{% block js %}
{% endblock js %}