{% extends '@ScyLabsNeptune/admin/add.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content%}
    <div class="row">
        {{ parent() }}
    </div>
{% endblock %}