<h3>Un compte vient d'être créer pour vous sur le site : </h3>
<div>
    <h4>Voici vos identifiants temporaires : </h4>
    <ul>
        <li>Login : {{ login }}</li>
        <li>Pass : {{ pass }}</li>
    </ul>
    Pour vous connectez , cliquez ici <a href="{{ path('fos_user_security_login') }}">Ici {{ path('fos_user_security_login') }}</a>
</div>