{{ form_start(form) }}
    <button type="submit" class="nobtnstyle" onclick="return confirm('Etes vous sur de vouloir supprimer cet element ?')"><i class="fa fa-trash"></i></button>
{{ form_widget(form) }}

{{  form_end(form) }}